<footer>
	<div id="footer"><div class="fleft"><p>Copyright statement.</p></div><div class="fright"><p>ShowCook</a>.</p></div><div class="fcenter"><p>Design by: Design by Álvaro Ginebreda</a></p></div><div class="fclear"></div></div>
</footer>